body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(234, 236, 240);
}


/*menu de las categorias */

 :root {
    --swiper-theme-color: #36CFBB;
}

.barra_menu {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    background-color: #2B2B2B;
}


/* categorias del menu */

.barra_menu_productos {
    background-color: transparent;
    border: none;
    color: white;
}

.barra_menu .menufila {
    float: left;
    list-style: none;
}

.barra_menu ul {
    z-index: 6;
}

.barra_menu .menufila a {
    color: #fff;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
}

.barra_menu .menucol {
    background-color: #2B2B2B;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    display: none;
    z-index: 6;
}

.barra_menu .menufila:hover .menucol {
    display: block;
}

.barra_menu .menucol a {
    color: #ffffff;
    padding: 2px;
    margin: 5px;
}

.barra_menu .menucol:hover a {
    color: #36CFBB;
}


/*  barra del menu registrarse e inicio de sesion */

.navbar {
    width: 100%;
    background-color: #36CFBB;
    overflow: auto;
    display: flex;
    justify-content: center;
}


/* botones reg/iniciar  */

.navbar a,
button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin: 4px;
    justify-content: flex-end;
    position: relative;
    left: 250px;
}


/*Barra de busqueda*/

.barra {
    margin: 10px;
    width: 800px;
    height: 30px;
    border: none;
    position: relative;
    top: 5px;
}


/*slogan de la barra de azul*/

#slogan {
    font-size: 16px;
    color: #fff;
    position: relative;
    right: 200px;
    top: 10px;
}

#logofrom {
    width: 60px;
    height: 60px;
    position: relative;
    right: 250px;
}

.listado {
    height: 510px;
    width: 25%;
    box-shadow: 0 0 0px #111;
    margin: 50px 30px;
    background-color: white;
}

.listado .imagen {
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}

.card img {
    margin: auto;
    display: block;
}


/* ventanas modales*/

.ventanaModal {
    z-index: 3;
}

.modalBody {
    z-index: 2;
}

.cajaModal {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#logo {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 60px;
}

.cajaModal {
    display: none;
    justify-content: center;
}

.fromIngresar {
    position: relative;
    right: 200px;
    margin: 20px;
    flex-direction: row-reverse;
    border: 0;
}

.ventanaModal {
    margin-top: 200px;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
}

.fondoModal {
    display: block;
    justify-content: center;
    background-color: #36CFBB;
    flex-direction: column;
    width: 400px;
    height: 601px;
    position: relative;
    left: 601px;
    bottom: 362px;
}

.fromIngresar {
    width: 100px;
}

.fromIngresar input {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 25px;
    position: relative;
    top: 160px;
    left: 270px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #AAAAAA;
    font-size: 20px;
    margin: 20px;
}

#textoinicio {
    position: relative;
    top: 90px;
    right: 200px;
}

.fondoModal #logo {
    position: relative;
    top: 150px;
    left: 20px;
}

#ingresar,
#enviarRegist {
    display: flex;
    color: white;
    background-color: #36CFBB;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    left: 270px;
    margin-left: 100px;
}

#ingresar:hover,
#enviarRegist:hover {
    background-color: #248679;
}

p {
    display: flex;
    position: relative;
    top: 200px;
    left: 170px;
}

.formRegister input {
    justify-content: center;
    width: 400px;
    height: 25px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #AAAAAA;
    font-size: 20px;
    margin: 20px;
}


/* swiper*/

.swiper-button-next::after,
.swiper-button-prev::after,
span.swiper-pagination-bullet {
    color: #36CFBB !important;
}

.swiper-pagination-bullet-active {
    color: #36CFBB !important;
    z-index: 0;
}

.swiper {
    width: 90vw;
    height: 500px;
    z-index: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(250, 250, 250);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider.swiper {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}


/* botton del carrito */

.boton-carrito {
    background-color: #36CFBB;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 50px;
}


/* texto donde se ve la cantidad */

.texto-numero {
    width: 50px;
    height: 48px;
    background-color: #F1F1F1;
    border: none;
    text-align: center;
    display: flex;
    position: relative;
    font-size: 20px;
    color: rgb(109, 106, 106);
}


/*div del carrito de comporas*/

.agregar-al-carrito {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 0, 255);
    width: 400px;
    height: 80px;
    position: relative;
    top: 200px;
}

.boton-carrito {
    width: 150px;
    height: 50px;
    display: flex;
    font-size: 25px;
}


/*carrito icono*/

.bxs-cart-add {
    color: rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    font-size: 40px;
    cursor: pointer;
    position: relative;
    right: 20px;
    top: 4px;
}

.boton-carrito h1 {
    font-size: 25px;
    position: relative;
    right: 20px;
    bottom: 6px;
}

.swiper-slide .img {
    border: none;
    margin: none;
    background-color: rgba(241, 0, 141, 0.13);
    width: 100px;
    height: 100px;
}

.swiper-slide h4 {
    background-color: Red;
    width: 300px;
    height: 100px;
    position: relative;
    top: 110px;
}